/*======================================*/
aside ul li {
	list-style-type: none;
}
p{
	margin: 0px;
}
ul{
	margin: 0px;
}
h1,h2,h3{
	margin: 0px;
}
/*======================================*/
aside a {
	text-decoration: none;
	color: #fbfcff;
}
aside a:link {
	color:  #fbfcff;
	background-color: transparent;
}
aside a:hover {
	color: #fbfcff;
	text-decoration: underline;
	background-color: transparent;
}
/*======================================*/
header a {
	text-decoration: none;
	color: #fbfcff;
}
header a:link {
	color:  #fbfcff;
	background-color: transparent;
}
header a:hover {
	color: #fbfcff;
	text-decoration: underline;
	background-color: transparent;
}
/*======================================*/
nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #5DACBD;
}
nav li {
	float: left;
}
nav li a {
  display: block;
  color: #24527A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-right: 68px; 
  padding-left: 68px;
}

nav li a:hover {
	color: white;
}

/*======================================*/
.heading {
	display: flex;
	background-color: #24527A;
	opacity: 1.2;
}
article h2{
	padding: 30px;

}